{% load static %}
<link media="all" href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.7.1/nv.d3.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.16/d3.min.js'></script>
<script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.7.1/nv.d3.min.js'></script>

{% load nvd3_tags %}
<head>
    {% load_chart charttype chartdata "linewithfocuschart_container" extra %}
</head>
<body>
  <h1>Home Environment Monitor</h1>
    {% include_container "linewithfocuschart_container" 600 '70%' %}

  <h2>Summary</h2>
  <table>
  <tr><td></td><td>Max</td><td>Min</td><td>Avg</td></tr>
  <tr><td colspan=4><b>Today</b></td></tr>
  {% for key, value in one_day_metrics.items %}
    <tr><td>{{value.name}}</td><td>{{value.max}}</td><td>{{value.min}}</td><td>{{value.avg}}</td></tr>
  {% endfor %}
  <tr><td colspan=4><b>Past 7 days</b></td></tr>
  {% for key, value in week_metrics.items %}
    <tr><td>{{value.name}}</td><td>{{value.max}}</td><td>{{value.min}}</td><td>{{value.avg}}</td></tr>
  {% endfor %}
  </table>
</body>
