{% load static %}
<link media="all" href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.7.1/nv.d3.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.16/d3.min.js'></script>
<script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.7.1/nv.d3.min.js'></script>

{% load nvd3_tags %}
<head>
    {% load_chart charttype chartdata "linewithfocuschart_container" extra %}
</head>
<body>
    {% include_container "linewithfocuschart_container" 800 '70%' %}
</body>
